@import url(medium.css);
@media (min-width: 1008px) {
    /* Styles for large screens */

    .header li a {
        font-size: 24px;
        border-top: none;
      }

      .header ul{
        justify-self: end;
        padding-right: 1rem;
      }

    header{
        display: grid;
        grid-template-columns: 20% 80%;
    }
  /* ----------- THIS IS THE CODE FOR THE FIRST SECTION -----------*/
  .first{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 6rem;
}
.selfie{
    grid-row: 1 / span 1;
    padding: 5rem;
      -webkit-mask: none;
      mask: none;
      z-index: -2;
      margin-top: -5rem;
    }    
    
    .selfie img{
      width: 60%;
      padding-left: 2rem;
    }
    
    .selfie h1{
      font-weight: 300;
      font-size: 75px;
      padding-left: 0;
      margin-top: 0;
      margin-left: -3rem;
    }
    
    .favthings{
      margin-top: -2rem;
      padding: 3rem 2rem;
    }
    
    .fav{
      font-weight: 300;
      font-size:64px;
    }

    #things{
      font-size: 32px;
    }


    /* ----------- THIS IS THE CODE FOR THE WEBSITES AND PROJECTS SECTION -----------*/

 
.aboutsite p, .aboutsite a{
display: none;
font-size: 20px;
}
 
.aboutsite{
  height: 400px;
  width: 500px;
}
.aboutsite:hover{
  height: 700px;
  width: 90%;
  
}
.aboutsite:hover p, .aboutsite:hover a{
  display:block;
}

.aboutsite:hover img{
  width: 30%;
}

.colorBlock{
  padding: .3rem;
}

.colorBlock p{
  font-size: 32px;
}

/* ----------- THIS IS THE CODE FOR THE Experience -----------*/

.experience{
  padding-bottom: 15rem;
}
.phoneImg img{
  top: -3rem;
  right: 9rem;
  width: 20rem;
}

.exp{
  grid-template-columns: 2fr 1fr;
  grid-gap: 10rem;
}

.phoneImg{
  height: 600px;
  width: 400px;
}
  }

