
@media (min-width: 1008px) {
    /* Styles for large screens */

    .header li a {
        font-size: 24px;
        border-top: none;
      }



    header{
        display: grid;
        grid-template-columns: 20% 80%;
    }






  }

