

/* Medium screens (tablets/iPads) */

@media(min-width: 641px) {
    .header li a {
        font-size: 16px;
        border-top: none;
        padding: 10px;
        margin-top: 2rem;
        
      }
      
      .header ul{
        justify-self: end;
        padding-right: 1rem;
      }

    header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    /* ----------- THIS IS THE CODE FOR THE FIRST SECTION -----------*/
    .first{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 6rem;
    }
    .selfie{
      grid-row: 1 / span 1;
      padding: 5rem;
      -webkit-mask: none;
      mask: none;
      z-index: -2;
      margin-top: -5rem;
}    

.selfie img{
  width: 120%;
  padding: 0;
}

.selfie h1{
  font-weight: 300;
  font-size: 38px;
  padding-left: 0;
  margin-top: 0;
  margin-left: -3rem;
}

.favthings{
  margin-top: -2rem;
  padding: 3rem 2rem;
}

.fav{
  font-weight: 300;
  font-size: 38px;
}

.colorBlock p{
  font-size: 24px;
}

/* ----------- THIS IS THE CODE FOR THE Color change button -----------*/
.switch {
  width: 60px;
}

.colorchange p{
  font-size: 28px;
}

.colorchange{
  padding: .5rem;

}

    /* ----------- THIS IS THE CODE FOR THE WEBSITE AND PROJECTS SECTION -----------*/

    .aboutsite{
      width: 500px;
      height: 700px;
    }
    .websites p {
      font-size: 20px;
      font-weight: 300;
      white-space: normal;
    }

/* ----------- THIS IS THE CODE FOR THE Experience -----------*/

.phoneImg img{
  display: inline;
  position: absolute;
  top: -2rem;
  right: 3rem;
  width: 18rem;
}

.exp{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-gap: 10rem;
}

.phoneImg{
  background-color: var(--accent-color);
  position: relative;
  border-radius: 25px;
  height: 550px;
}

.experience {
  padding-bottom: 10rem;
  --mask:
    radial-gradient(147.57px at 50% calc(100% - 204.00px),#000 100%,#0000 100%) calc(50% - 160px) 0/320px 100%,
    radial-gradient(147.57px at 50% calc(100% + 124.00px),#0000 100%,#000 100%) 50% calc(100% - 80px)/320px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}



  }