/* Medium screens (tablets/iPads) */
@media (max-width: 1007px) and (min-width: 641px) {
    .header li a {
        font-size: 16px;
        border-top: none;
        padding: 10px;
        margin-top: 2rem;
        
      }
      
      .header ul{
        justify-self: end;
        padding-right: 1rem;
      }

    header{
        display: grid;
        grid-template-columns: 20% 80%;
    }

    /* ----------- THIS IS THE CODE FOR THE FIRST SECTION -----------*/
    .first{
        display: grid;
        grid-template-columns: 50% 50%;
        padding-top: 6rem;
    }
    .selfie{
        grid-row: 1 / span 1;
        padding: 5rem;
    }



  }