/* Medium screens (tablets/iPads) */
@media (max-width: 1007px) and (min-width: 641px) {
    .header li a {
        font-size: 20px;
        border-top: none;
        padding: 10px;
      }


    header{
        display: grid;
        grid-template-columns: 30% 70%;
    }



  }