@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --primary-color: #1E375A;
    --secondary-color: #DADEBE;
    --accent-color: #CEAFD4;
    --light: #FBFCF4;
    --font: 'Roboto', sans-serif;
}

html{
    font-family: var(--font);
    background-color: var(--light);
    color: var(--dark-color);
}

/* ----------- THIS IS THE CODE FOR THE HEADER AND NAVIGATION -----------*/
header img{
    width: 6rem;
}

  a {
    color: var(--primary-color);
  }
  
  /* ----------- HEADER -----------*/
  
  .header {
    background-color: var(--light);
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: -15px;
    z-index:4;
  }
  
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    text-align: right;
    
  }

.socialmedia{
    margin-top: 8rem;

  }

.socialmedia a img{
    width: 5rem;
}
  
  .header li a {
    font-size: 20px;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: 300;
    border-top: solid 2px var(--primary-color);
  }

  .header li a:hover,
  .header .menu-btn:hover {
    background-color: var(--primary-color);
    color: var(--light);
  }
  
  .header img{
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  
  .header .menu-icon .navicon {
    background: var(--primary-color);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 30px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: var(--primary-color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .header .menu-icon .navicon:before {
    top: 5px;
  }
  
  .header .menu-icon .navicon:after {
    top: -5px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
    display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
    max-height: 240px;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }


@media (min-width: 40em) {
    .header li {
      float: left;
    }
    .header li a {
      padding: 20px 30px;
      border: none;
    }
    .header .menu {
      clear: none;
      float: right;
      max-height: none;
    }
    .header .menu-icon {
      display: none;
    }
  }
  

/* ----------- THIS IS THE CODE FOR THE FIRST SECTION -----------*/
.selfie{
    background-color: var(--secondary-color);
    margin-top: 5rem;
    padding-bottom: 10rem;
    z-index: -2;
    
}

.selfie img{
    border-radius: 50%;
    width: 40%;
    padding: 2rem;
}

.selfie h1{
    font-weight: 400;
    font-size: 42px;
    padding-left: 2rem;
    margin-top: -2rem;
    color: var(--primary-color);
}

.favthings{
    font-weight: 300;
    margin-top: -10rem;
    background-color: var(--primary-color);
    padding: 3rem 2rem;
    color: var(--light);
}



.fav{
    font-weight: 300;
    font-size: 42px;
}

#things{
    margin-top: -2rem;
    font-size: 24px;
}

.cats{
  display: none;
}

@media (min-width: 1430px) {
  .cats{
    display: inline;
    width: 100%;
  }
}

marquee{
  background-color: var(--accent-color);
  padding: 1rem;
  color: var(--light);
  font-size: 30px;
  font-weight: 300;
}

/* ----------- THIS IS THE CODE FOR THE Color change button -----------*/

.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #D46BA2;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--primary-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--light);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.colorchange{
  padding: 1rem;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  grid-gap: 3rem;
  justify-content: center;
}

.colorchange img{
  width: 10rem;
  position: relative;
  animation: movearrow 5s infinite normal;
}
.colorchange p{
  font-weight: 300;
  font-size: 18px;
}

@keyframes movearrow {
  0%   {left: -20px; top: 0px;}
  50%  {left: 20px; top: 0px;}
   100%  {left: -20px; top: 0px;}
  }
/* ----------- THIS IS THE CODE FOR THE WEBSITES AND PROJECTS SECTION -----------*/


.websites{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  align-items: center;
}

.aboutsite{
  display: inline-block;
  background-color: var(--secondary-color);
  border-radius: 3rem;
  width: 300px;
  height: 650px;
  padding: 2rem;
  margin: 1rem; 
  vertical-align: top; 
  box-sizing: border-box;
}

.websites img{
  width: 8rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.websites h3{
  font-size: 32px;
  white-space: normal;
  text-align: center;
}

h2{
  font-size: 48px;
  font-weight: 700;
}

.websites h4{
  font-size: 18px;
  text-align: center;
}

.websites p {
  font-size: 16px;
  font-weight: 300;
  white-space: normal;
}

.websites a{
  background-color: var(--primary-color);
  color: var(--light);
  padding: 1rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  font-size: 18px;
  border-radius: 25px;
}

.websites a:hover{
  background-color: var(--accent-color);
  color: var(--primary-color);
  text-decoration: var(--primary-color) wavy underline;
}

/* ----------- THIS IS THE CODE FOR QUOTE SECTION -----------*/
/* .colorBlock{
  background-color: var(--dark-blue);
  padding: 1rem;
}

.colorBlock p{
  color: var(--light);
  font-size: 24px;
  text-align: center;
} */

/* ----------- THIS IS THE CODE FOR THE Experience -----------*/

.experience{
  background-color: var(--primary-color);
  color: var(--light);
  padding: 2rem;
  padding-bottom: 2rem;
}



.experience p{
  border-bottom: solid 4px var(--light);
  padding-bottom: 1rem;
  font-weight: 300;
  font-size:20px;

}

.phoneImg img{
  display: none;
}

/* ----------- THIS IS THE CODE FOR School and classes -----------*/
.school{
  background-color: var(--secondary-color);
  padding: 1rem;
  color: var(--primary-color);
  font-weight: 300;
}

.school h2, .school p{
  text-align: center;
}

.school p{
  font-size: 20px;
}

.school p:nth-child(2){
  font-size: 24px;
  font-weight: 500;
}

/* ----------- THIS IS THE CODE FOR THE SKILLS section -----------*/

.skills h3{
  font-size: 48px;
}

.skills{
  background-color: var(--primary-color);
  color: var(--light);
  padding: 2rem;
}

.skills p{
  font-size: 32px;
  font-weight: 300;
}

.box{
  width: 20rem;
  height: 8rem;
  border: solid 5px var(--light);
  margin: .5rem;
}

.boxes{
  display: flex;
}

.boxes:nth-child(2n) .box:nth-child(1){
  background-color: var(--light);
}

.colored{
  background-color: var(--light);
}

/* ----------- THIS IS THE CODE FOR THE About me section -----------*/
.pics img{
  width: 16rem;
}

.pics{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.aboutMe{
  color: var(--primary-color);
}

.about{
  background-color: var(--secondary-color);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about p{
  font-size: 24px;
}

.about img{
  width: 20rem;
}


/* ----------- THIS IS THE CODE FOR THE me section -----------*/

.me{
  background-color: var(--primary-color);
  padding: 1rem;
  color: var(--light);
  
}

.me h5{
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}


/* ----------- THIS IS THE CODE FOR THE FOOTER section -----------*/

footer{
  background-color: var(--accent-color);
}

.contact{
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.contact img{
  margin-left: 1rem;
}

.chat{
  padding: 2rem;
}


.chat h3{
  font-size: 42px;
  color: var(--light);
}

.chat p{
  font-size: 28px;
  color: var(--light);
}